<div class="home">
  <div class="title_page">
    <h3>This page was built by</h3>
  </div>

  <div class="about">
    <ul class="list-inline text-center">
      <% ["miguel-aguilera-croasdaile", "GijsSi"].each do |gh_username| %>
      <div class="team-member">
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
          <a href="github.com/#{gh_username}" class="github_link">

            <%=
            "#{gh_username}"
            %>
          </a>
        </li>
      <% end %>
      </div>
    </ul>
  </div>
</div>
